################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/coverage/Chrome 56.0.2924 (Windows 7 0.0.0)/html
*.dat
